{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ChantGPT{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h3> ChantGPT</h3>
  <p>   AI-generated personalized chant.</p>
  <form name="form", method="POST", style="text-align: center;">
    <br>
    <strong> ใส่คำที่ต้องการ: </strong> 
    <input class="form-control form-control-lg" type="text" name="text", placeholder="พิมพ์คำที่ต้องการ" required/>
    <br><br>
    <button value="Submit" class="btn btn-primary">Generate</button>
  </form>
  <br>
  <br>
  
  <div>
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Chant #1
          </button>
        </h4>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" >
          <div class="accordion-body">
            <p style="text-align: center;">{{ output_1 }}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Chant #2
          </button>
        </h4>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p style="text-align: center;">{{ output_2 }}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h4 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Chant #3
          </button>
        </h4>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p style="text-align: center;">{{ output_3 }}</p>
          </div>
        </div>
      </div>
    </div>
    </div></div>

  </div>
  
{% endblock %}