{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ChantGPT{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <h3 style="text-align: center; color: white;"> ChantGPT</h3>
  <p style="text-align: center; color: white;">   AI-generated personalized chant.</p>
  <form name="form", method="POST", style="text-align: center;">
    <br>
    <strong> ใส่คำที่ต้องการ: </strong> 
    <input class="form-control form-control-lg" type="text" name="text", placeholder="พิมพ์คำที่ต้องการ" required/>
    <br><br>
    <button value="Submit" class="btn btn-primary" onclick="$('#loading').show();">Generate</button>
  
  </form>
  <div id="loading" style="display:none; text-align: center;">
    <img src="{{ url_for('static',    filename='loading.gif') }}" alt="" />...รอพระสวดแปปนึงโยม...</div>
  <br>
  <br>

  <div class="row">
		<div class="col-md-4">
			<h3 style="text-align: center;">
				มนต์บทที่ 1
			</h3>
			<p style="text-align: center;"> {{ output_1 }}	</p>
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">
				มนต์บทที่ 2
			</h3>
			<p style="text-align: center;"> {{ output_2 }}	</p>
		</div>
		<div class="col-md-4">
			<h3 style="text-align: center;">
				มนต์บทที่ 3
			</h3>
			<p style="text-align: center;"> {{ output_3 }}	</p>
		</div>
	</div>
</div>
  
{% endblock %}